<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <style type="text/css">
        body {
            color: #0F2A56;
        }
        .error, .input-validation-error {
            border-color: #ED5565;
        }

        .navbar-inverse {
            background-color: #0f3456;
            border: none;
        }

        .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
            color: #fff;
        }

        .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
            border-color: red;
        }

        .navbar-brand {
            padding: 0px 15px;
            height: auto;
        }

        .carousel-control .fa-angle-left, .carousel-control .fa-angle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
            font-size: 40px;
            margin-top: -35px;
        }

        .carousel-indicators li {
            border: 1px solid #bbb;
        }

        .carousel-indicators .active {
            background-color: #bbb;
        }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: #fff;
        }

        .carousel-inner > .item > img, .carousel-inner > .item > a > img {
            display: block;
            height: 100%;
            line-height: 1;
            margin: 0 auto;
            max-width: 100%;
            padding: 1%;
        }    </style>
</head>
<body id="page-top">
    <!-- Navigation -->
    @*<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="border-bottom: 3px solid #0F2A56">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#"><span style="color: #0F2A56">FC</span> Montgomery</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#team">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#store">store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@
    <!-- Header -->
    @*<header class="masthead">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in"></div>
                    <div class="intro-heading text-uppercase">Welcome To Our Academy!</div>
                </div>
            </div>
        </header>*@

    <nav id="mainNav" class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top" style="border-bottom: 3px solid #0F2A56; background-color: #72142E">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" style="color: #fff" href="~/home#page-top"><img src="~/img/logo.png" style="height: 60px;" /> FC Montgomery</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/home#about">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/home#services">Our Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/home#team">Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/home#store">Store</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/home#tryout">Try Outs</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/home#contact">Contact</a>
                    </li>           
                </ul>
            </div>
        </div>
    </nav>
    
    @RenderBody()
    <!-- Footer -->
    <footer style="background-color: #0F2A56;">
        <div class="container bg-light" style="border-top: 2px solid #ccc">
            <div class="row text-left">
                <div class="col-xs-12 col-lg-3">
                    <h5><em><p>Sponsored by</p></em></h5>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <h5><em><p>Partners</p></em></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="~/img/under-armour.png" style="height:60px" class="img img-responsive" />
                </div>
                <div class="col-md-3">
                    <img src="~/img/faulkner-img.png" style="height:60px" class="img img-responsive" />
                </div>
                <div class="col-md-3">
                    <img src="~/img/Ems-logo.png" style="height:60px" class="img img-responsive" />
                </div>
                <div class="col-md-3">
                    <img src="~/img/Eastwood-logo.jpg" style="height:60px" class="img img-responsive" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="copyright">Copyright &copy; @DateTime.Now.Year</span>
                </div>
            </div>
        </div>
    </footer>
    <div id="divRegisterNow" style="position: fixed; right: 5pt; z-index: 100; bottom: 35pt; : #0F2A56; color: whitesmoke; border-radius: 10px; padding: 10px; display: none; background-color: #0F2A56">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    Fill in the form below and be part of our team!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <input class="form-control" id="name" type="text" placeholder="Name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <input class="form-control" id="email" type="text" placeholder="E-mail">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <select class="form-control" id="category">
                        <option value="">Category</option>
                        <option value="U6">U6</option>
                        <option value="U8-9">U8-9</option>
                        <option value="U10">U10</option>
                        <option value="U11-12">U11-12</option>
                        <option value="U13-14">U13-14</option>
                        <option value="U16-17"> U16-17</option>
                        <option value="U18-19"> U18-19</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <input class="form-control" id="telephone" type="text" placeholder="Telephone">
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="form-group">
                    <button id="btnComplete"type="button" class="btn btn-complete">Complete Registration</button>
                    <button id="btnClose" type="button" class="btn btn-warning">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="btnRegisterNow" style="position: fixed; right: 5pt; z-index: 100; bottom: 5pt">
        <button type="button" class="btn btn-info">Register Now</button>
    </div>
    @Scripts.Render("~/bundles/scripts")
    <script type="text/javascript">

        $(document).ready(function () {
                
            $("#btnRegisterNow").click(function ()
            {
                if ($("#divRegisterNow").is(':visible'))
                {
                    $("#divRegisterNow").hide();
                }
                else
                {
                    $("#divRegisterNow").show();
                }                
            });

            $("#btnClose").click(function () {
                $("#divRegisterNow").hide();
            });

            $("#btnComplete").click(function () {
                $("#divRegisterNow").hide();
            });

        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
