<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <style type="text/css">
        .error, .input-validation-error {
            border-color: #ED5565;
        }

        .navbar-inverse {
            background-color: #D42E12; /*#0F2A56*/
            border: none;
        }

            .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
                color: #fff;
            }

        .navbar-brand {
            padding: 0px 15px;
            height: auto;
        }

        .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
            font-size: 40px;
            margin-top: -35px;
        }

        .carousel-indicators li {
            border: 1px solid #bbb;
        }

        .carousel-indicators .active {
            background-color: #bbb;
        }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: #fff;
        }

        .carousel-inner > .item > img, .carousel-inner > .item > a > img {
            display: block;
            height: 100%;
            line-height: 1;
            margin: 0 auto;
        }

        .navbar-nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
            background-color: #D42E12;
        }

        .carousel-control.left, .carousel-control.right {
            background-color: #495678;
        }

        .container {
            background-color: whitesmoke;
        }

        .register-now {
            position: fixed;
            right: 5pt;
            z-index: 100;
            bottom: 32pt;
            color: whitesmoke;
            border-radius: 10px;
            padding: 10px;
            display: none;
            background-color: #495678;
            border: 3px solid #D42E12;
        }
    </style>
</head>
<body id="page-top">
    <!-- Header -->
    <nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="font-size: 14px">
        <div class="container-full" style="padding-right: 30px">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand nav-link js-scroll-trigger" href="~/home#page-top">
                    <img src="@Url.Content("~/img/logo.png")" style="width: 75px; padding: 5px; float: left" />
                    <span style="float: left; font-size: 20px; padding-top: 25px; font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive">FC Montgomery</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-top: 15px;">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="~/home#about" class="nav-link js-scroll-trigger"><i class="fa fa-check" style="color: whitesmoke"></i> About us</a></li>
                    <li><a href="~/home#services" class="nav-link js-scroll-trigger"><i class="fa fa-asterisk" style="color: whitesmoke"></i> Our Services</a></li>
                    <li><a href="~/home#team" class="nav-link js-scroll-trigger"><i class="fa fa-futbol-o" style="color: whitesmoke"></i> Teams</a></li>
                    <li><a href="~/home#store" class="nav-link js-scroll-trigger"><i class="fa fa-shopping-cart" style="color: whitesmoke"></i> Store</a></li>
                    <li><a href="~/home#tryout" class="nav-link js-scroll-trigger"><i class="fa fa-sign-in" style="color: whitesmoke"></i> Try Outs</a></li>
                    <li><a href="~/home#contact" class="nav-link js-scroll-trigger"><i class="fa fa-envelope" style="color: whitesmoke"></i> Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <!-- Footer -->
    <footer style="background-color: #495678; margin: 0">
        <div class="container bg-light" style="border-top: 2px solid #ccc">
            <div class="row text-center">
                <div class="col-xs-6 col-md-6 col-lg-6">
                    <h5><em><p>Sponsored by</p></em></h5>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-6">
                    <h5><em><p>Partners</p></em></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6 col-lg-6 text-center">
                    <img src="~/img/under-armour.png" style="height:60px; display: inline" class="img img-responsive" />
                </div>
                <div class="col-xs-6 col-md-6 col-lg-6 text-center">
                    <div class="row">
                        <div class="col-xs-4 col-md-4 col-lg-4">
                            <img src="~/img/faulkner-img.png" style="height:60px; display: inline" class="img img-responsive" />
                        </div>
                        <div class="col-xs-4 col-md-4 col-lg-4">
                            <img src="~/img/Ems-logo.png" style="height:60px;  display: inline" class="img img-responsive" />
                        </div>
                        <div class="col-xs-4 col-md-4 col-lg-4">
                            <a href="http://www.eastwoodschool.org/" target="_blank"><img src="~/img/Eastwood-logo.jpg" style="height:60px; display: inline" class="img img-responsive" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 25px; padding-bottom: 25px">
                <div class="col-md-12 text-center">
                    <span class="copyright">Copyright &copy; @DateTime.Now.Year</span>
                </div>
            </div>
        </div>
    </footer>
    <!-- Register Now -->
    <div id="divRegisterNow" class="register-now">
        <form id="registerForm" name="registerForm" action="@Url.Action("Index", "Register")" method="post">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="@Url.Content("~/img/logo.png")" style="width: 75px;" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <p style="padding-top: 15px; padding-bottom: 10px;">Fill in the form below and be part of our team!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <input class="form-control" id="name" name="Name" type="text" placeholder="Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <input class="form-control" id="email" name="Email" type="text" placeholder="E-mail">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <select class="form-control" id="Category" name="Category">
                            <option value="">Category</option>
                            <option value="U6">U6</option>
                            <option value="U8-9">U8-9</option>
                            <option value="U10">U10</option>
                            <option value="U11-12">U11-12</option>
                            <option value="U13-14">U13-14</option>
                            <option value="U16-17">U16-17</option>
                            <option value="U18-19">U18-19</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <input class="form-control" id="phone" name="Phone" type="text" placeholder="Telephone">
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <div class="form-group">
                        <button id="btnComplete" type="submit" class="btn btn-primary">Complete Registration</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="btnRegisterNow" style="position: fixed; right: 5pt; z-index: 100; bottom: 5pt">
        <button type="button" class="btn btn-info" style="background-color: #D42E12; border-color: #D42E12">Register Now</button>
    </div>
    @Scripts.Render("~/bundles/scripts")
    <script type="text/javascript">

        $(document).ready(function () {

            // carousel
            $("#myCarousel").carousel(
            {
                interval: 5000 // segundos
            });

            $("#btnRegisterNow").click(function () {
                if ($("#divRegisterNow").is(':visible')) {
                    $("#divRegisterNow").hide();
                }
                else {
                    $("#divRegisterNow").show();
                }
            });
            
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
